html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 58px;
  font-size: 28px;
  background-color: #e9e9e9;
  text-align: center;
  font-weight: bold;
  display: block;
}

button {
  border: none;
}

.page_wrapper {
  position: relative;
}

h6 {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif, arial;
  padding-top: 15px;
}

form {
  text-align: center;
  margin-bottom: 25px;
}


input {
  width: 40px;
  height: 28px;
}

.preset_wrapper button {
  margin-top: 2vh;
}

#nowtime {
  margin-top: 60px;
  margin-bottom: 25px;
  font-family: sans-serif;
  font-weight: normal;
  font-stretch: expanded;
  font-size: 100px;
  display: block;
  text-align: center;
}

.button {
  text-align: center;
}

#disp_pattern {
  margin-bottom: 2vh;
  padding: .5em;
  border-radius: 5px;
  background: #F1322C;
  border-bottom: 4px solid rgb(194, 46, 41);
  color: #fff;
}

#disp_pattern:hover {
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  background: #AD2022;
  ;
  transform: translate3d(0, 4px, 0);
  border-bottom: none;
}

#delete_btn {
  margin-bottom: 2vh;
  padding: .5em;
  border-radius: 5px;
  background: rgb(238, 241, 44);
  border-bottom: 4px solid rgb(209, 212, 30);
}

#delete_btn:hover {
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  background: rgb(187, 171, 27);
  ;
  transform: translate3d(0, 4px, 0);
  border-bottom: none;
}

#use_btn {
  margin-bottom: 2vh;
  padding: .5em;
  border-radius: 5px;
  background: rgb(255, 145, 2);
  color: #ebebeb;
  border-bottom: 4px solid rgb(211, 122, 5);
}

#use_btn:hover {
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  background: rgb(211, 122, 5);
  transform: translate3d(0, 4px, 0);
  border-bottom: none;
}

#save_pattern {
  padding: .5em;
  background: rgb(5, 141, 118);
  color: #fff;
  border-radius: 5px;
  border-bottom: 4px solid rgb(15, 85, 73);
}

#save_pattern:hover {
  transition: .3s;
  cursor: pointer;
  background: rgb(12, 100, 85);
  transform: translate3d(0, 4px, 0);
  border-bottom: none;
}

button#start,
#break,
#reset {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: white;
  background: #3a9ad9;
  border-bottom: 5px solid rgb(44, 118, 167);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: .5rem;
  display: block;
  border-radius: 12px;
  width: 260px;
  height: 90px;
  outline: none;
  position: relative;
  /* box-shadow: 3px 3px 10px 2px #6e6e6ed7; */
  /* border: none; */
}

#start:hover,
#break:hover,
#reset:hover {
  transition: .2s;
  background: #2378b1;
  cursor: pointer;
  transform: translate3d(0, 4px, 0);
  border-bottom: none;

}

.preset_wrapper {
  display: none;
  text-align: center;
}

.preset_wrapper.open {
  display: block;
  margin: 0 auto 5vh auto;
}

#preset {
  -webkit-appearance: none;
  box-shadow: none;
}

.preset {
  display: none;
}

.preset.isActive {
  display: inline-block;
}


.preset_btn {
  text-align: center;
}

.start_img,
.break_img,
.stop_img {
  position: absolute;
  top: 28px;
  left: 15px;
  width: 35px;
  height: 35px;
  background-size: cover;
}

.start_img {
  background-image: url('src/img/start.png');
}

.break_img {
  background-image: url('src/img/break.png');
}

.stop_img {
  background-image: url('src/img/stop.png');
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: #f4f5f7;
    }
	h1,
	a:link,
	a:visited {
		color: #f4f5f7;
	}
    .header{
        background:#555555;
    }

}
